services:
  minio:
    env_file: .env
    image: minio/minio:latest
    container_name: gfs-minio
    ports:
      - "9002:9000"
      - "9003:9001"
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_ACCESS_KEY}
    command: server /data --console-address ":9001"
    volumes:
      - ./minio-data:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5

  createbucket:
    image: minio/mc:latest
    env_file: .env
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 \$${AWS_ACCESS_KEY_ID} \$${AWS_SECRET_ACCESS_KEY};
      mc mb local/gfs-wind --ignore-existing;
      mc anonymous set download local/gfs-wind;
      exit 0;
      "
